{% extends 'base.html' %} {% block title %}{{post.title_tag}}{% endblock %} 
{% block content %}

<h1>{{post.title}}</h1>
<small
  >Автор: {{post.author.first_name}} {{post.author.last_name}} {{ post.post_date }}
{% if user.is_authenticated %} 
  <a href="{% url 'edit-post' post.pk %}">Изменить</a> |
  <a href="{% url 'delete-post' post.pk %}">Удалить</a></small>
{% endif %}
<br />
<hr />
<br />
{{post.body}}
<br />
<br />
<a href="{% url 'home' %}" class="btn btn-secondary">Назад</a>

{% endblock %}
