{% extends 'base.html' %} {% block title %}{{post.title_tag}}{% endblock %} 
{% block content %}

<h1>{{post.title}}</h1>
<small
  >Автор: {{post.author.first_name}} {{post.author.last_name}} {{ post.post_date }}
{% if user.is_authenticated %} 
  {% if user.id == post.author.id %}
    <a href="{% url 'edit-post' post.pk %}">Изменить</a> |
    <a href="{% url 'delete-post' post.pk %}">Удалить</a></small>
  {% endif %}
{% endif %}
<br />
<hr />
<br />
{{post.body}}
<br />
<br />


<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="{{ post.author.profile.profile_picture.url }}" class="img-fluid rounded-start" alt="profile_picture">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{post.author.first_name}} {{post.author.last_name}}</h5>
        <p class="small text-muted">
        {% if post.author.profile.website_url %}
          <a href="{{ post.author.profile.website_url }}">Website</a>|
       {% endif %}
       {% if post.author.profile.vk_url %}
        <a href="{{ post.author.profile.vk_url }}">Vk</a>|
        {% endif %}
        {% if post.author.profile.twitter_url %}
        <a href="{{ post.author.profile.twitter_url }}">Twitter</a>| |
        {% endif %}
        {% if post.author.profile.ig_url %}
        <a href="{{ post.author.profile.ig_url }}">Instagram</a>
        {% endif %}
        </p>
        <p class="card-text">{{ post.author.profile.bio }}</p>
      </div>
    </div>
  </div>
</div>


<a href="{% url 'home' %}" class="btn btn-secondary">Назад</a>


{% endblock %}
